/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  font-family: 'Times New Roman', Times, serif, sans-serif;
  margin: 0;
}

/* Set Colour Pallet */
:root {
  --pale-pink: #E9D8F2;
  /* pale-pink: RGBA(233, 216, 242, 1); */
  --pink: #F28BC8;
  /* pink: RGBA(242, 139, 200, 1) */
  --grey: #D3D3D3;
  --black: #1B2827;
  --white: #fff;
  --dark-grey: #151316;
}

/* Set full height and width for the landing page */
html, body, .landing-page {
  height: 100vh;
  width: 100%;
  font-size: 16px;
}

/*Buttons Styling*/
.button-container{
  display: flex;
  justify-content: space-around;
  grid-area: button;
}

.landing-buttons a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.5em;
  text-decoration: none;
  background-color: var(--pale-pink);
  border: 2px solid var(--pink);
  color: #000;
  text-align: center;
  margin: 50px 50px 0;
  width: 150px;
}

.landing-buttons a:hover:not(:active),
.button a:hover:not(:active) {
  border: 2px solid var(--pink);
  transform: translate(-0.25rem,-0.25rem);
  box-shadow: 0.25rem 0.25rem 0 var(--pink);
  transition: all 0.2s ease-in-out;
}

#work .button a:hover:not(:active){
  border: 2px solid var(--pink);
  transform: translate(-0.25rem,-0.25rem);
  box-shadow: 0.25rem 0.25rem 0 var(--pink);
  transition: all 0.2s ease-in-out;
}

.button a{
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.5em;
  text-decoration: none;
  border: 2px solid var(--pink);
  color: #000;
  text-align: center;
}

#behance button {
  background-color: var(--white);
  margin-top: 25px;
}

#linkedin button,
#cv button{
  background-color: var(--pale-pink);
}

/* Langing Page Conent*/ 

/* Center the landing page content */
.landing-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--pale-pink);
}

/* Style the landing page content */
.landing-page-content {
  text-align: center;
  width: inherit;
}

/* Style the landing page image */
.landing-page-content img {
  width: 50%;
  max-width: 800px;
  height: auto;
}

/* Style the landing page heading */
.landing-page-content h1 {
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 10px;
  display: none;
}

/* Style the landing page paragraph */
.landing-page-content p {
  font-size: 18px;
  margin-bottom: 20px;
  display: none;
}

/* Work section styles */
.container {
  height: auto;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-items: center;  
}

#work {
;
  padding: 50px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 400px));
  grid-gap: 20px;
  grid-template-areas: 
    "title title"
    "project1 project2"
    "project3 project4"
    "button button";
  align-items: center;
}

#work h2 {
  grid-area: title;
  font-size: 36px;
}
/* Project Styling */
.project {
  position: relative;
  justify-self: center;
  width: 300px;
  height: 200px;
  margin: 20px;
  text-align: left;
  vertical-align: bottom;
  border: 2px solid var(--pink);
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: RGBA(255, 255, 255, 0.9);
  padding: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.project:hover .project-content {
  opacity: 1;
}

.project-content h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
}

.project-content p {
  font-size: 18px;
  margin-bottom: 20px;
}
  
.project-content img {
  width: 30px;
  height: 30px;
  border-radius: 25%;
  box-sizing: border-box;
  margin-right: 10px;
}

  .project-1 {
    background-image: url('assets/.jpg');
    background-position: center;
    background-size: cover;
}

.project-2 {
    background-image: url('assets/50eb.jpg');
    background-position: center;
    background-size: cover;
}

.project-3 {
    background-image: url('assets/55pallmall.jpg');
    background-position: center;
    background-size: cover;
}

.project-4 {
    background-image: url('assets/arcwl.jpg');
    background-position: center;
    background-size: cover;
}

.project:hover:not(:active){
  border: 2px solid var(--pink);
  transform: translate(-0.25rem,-0.25rem);
  box-shadow: 0.25rem 0.25rem 0 var(--pink);
}

/* About section styles */
#about {
  background-color: var(--pale-pink);
  padding: 50px;
  text-align: center;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;
  grid-template-areas: 
    "title title"
    "picture summary"
    "picture experience"
    "picture button";
  align-items: center;
}

.profile-picture {
  grid-area: picture;
  padding: 25px;
  max-width: 40vw;
}

.about {
  grid-area: summary;
}

.xp {
  grid-area: experience;
}

.xp a {
  text-decoration: none;
  color: var(--pink);
}

.xp a:hover, a:active{
  color: var(--white);
}

.xp a:visited {
  color: var(--black);
}

#about h2 {
  font-size: 36px;
  margin-bottom: 40px;
  grid-area: title;
}


/* Quote Styling */
.quote-container {
  position: relative;
  padding: 1rem;
  border: 2px solid var(--pink);
  border-radius: 0.1rem;
}

.quote-container::before {
  content: "“";
  font-size: 6rem;
  color: var(--pink);
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.quote-container::after {
  content: "”";
  font-size: 6rem;
  color: var(--pink);
  position: absolute;
  bottom: -0.5rem;
  right: 0.5rem;
}

.quote-text {
  font-family: 'VT323', monospace !important;
  font-size: 1.3rem;
  margin: 0;
  padding: 1.5rem 2.5rem 1.5rem 2.5rem;
  text-align: justify;
  color: var(--pink);
}

.quote-container:hover:not(:active){
  transform: translate(-0.25rem,-0.25rem);
  box-shadow: 0.25rem 0.25rem 0 var(--pink);
}

.quote-name {
  font-size: 1.2rem;
  margin: 0;
  text-align: center;
  color: var(--pink);
}


@media (min-width: 1200px) {
  /* This is an empty media query for large desktops */
  
  .container {
    height: auto; 
    min-height: none;
  }

  #about {
    height: auto; 
    min-height: none;
  }

  .profile-picture {
    padding: 100px;
  }

}

/* Footer Styling */

.footer {
  background-color: var(--white);
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
}

.footer-item {
  text-align: center;
}

.footer-item:first-child {
  grid-column: 1 / span 2;
}

.footer-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer-menu li {
  margin: 0 10px;
}

.footer-menu li a {
  color: #999;
  text-decoration: none;
  font-size: 14px;
}

.footer-menu li a:hover {
  color: #333;
}


.footer-container{
  height: auto;
  margin: 25px auto;
  display: grid;
  justify-content: center;
  align-items: center;  
}
@media only screen and (max-width: 768px) {
  /* Adjust website content for mobile */
  
.landing-buttons a:active,
#work .button a:active,
.button a:active {
  border: 2px solid var(--pink);
  transform: translate(-0.25rem,-0.25rem);
  box-shadow: 0.25rem 0.25rem 0 var(--pink);
  transition: all 0.2s ease-in-out;
}

#work .button a:active{
  border: 2px solid var(--pink);
  transform: translate(-0.25rem,-0.25rem);
  box-shadow: 0.25rem 0.25rem 0 var(--pink);
  transition: all 0.2s ease-in-out;
}

  .landing-page-content h1 {
    font-size: 24px;
    display: none;
  }
  
  .landing-page-content p {
    font-size: 16px;
    display: none;
  }
  
  .landing-page-content img {
    width: 90vw;
  }
  
  .container {
    height: auto;
    justify-content: center;
    margin: 50px 0;
  }

  #work {
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-areas:
    "title"
    "project1"
    "project2"
    "project3"
    "project4"
    "button";
  }

  #about {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "title"
      "summary"
      "experience"
      "button"
      "picture";
      grid-gap: 50px;
  }

  .quote-container::before {
    font-size: 5rem;
  }
  
  .quote-container::after {
    font-size: 5rem;
  }
  
  .quote-text {
    text-align: left;
    font-size: 1rem;
  }

}
